:root {
  font-family: "Roboto", sans-serif;
  --content-width: 1920px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}

/* Fonts */
/*Breakpoints*/
.bicycle {
  background-image: url("../../assets/img/15.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center 170px;
  background-size: cover;
  text-align: center;
  padding-bottom: 150px;
}
@media (max-width: 1280px) {
  .bicycle {
    background-position-y: 135px;
  }
}
@media (max-width: 1280px) {
  .bicycle {
    padding-bottom: 65px;
  }
}
@media (max-width: 768px) {
  .bicycle {
    padding-bottom: 35px;
  }
}
@media (max-width: 480px) {
  .bicycle {
    padding-bottom: 20px;
  }
}
.bicycle__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #131B22;
  max-width: 580px;
  margin: 0 auto 50px;
}
@media (max-width: 1280px) {
  .bicycle__title {
    font-size: 18px;
    max-width: 500px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .bicycle__title {
    font-size: 16px;
    max-width: 450px;
  }
}
@media (max-width: 768px) {
  .bicycle__title {
    font-size: 14px;
    max-width: 400px;
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .bicycle__title {
    padding: 0 25px;
    font-size: 12px;
    margin-bottom: 25px;
  }
}
.bicycle__img {
  position: relative;
  max-width: 1223px;
  margin: 0 auto 0;
}
@media (max-width: 1280px) {
  .bicycle__img {
    max-width: 922px;
  }
}
@media (max-width: 768px) {
  .bicycle__img {
    max-width: 727px;
  }
}
@media (max-width: 480px) {
  .bicycle__img {
    max-width: 470px;
  }
}
@media (max-width: 320px) {
  .bicycle__img {
    max-width: 304px;
  }
}
.bicycle__img img {
  display: block;
  width: 100%;
}
.bicycle__img .redSign {
  width: 32.2px;
  height: 32.2px;
}
@media (max-width: 1280px) {
  .bicycle__img .redSign {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 480px) {
  .bicycle__img .redSign {
    width: 16px;
    height: 16px;
  }
}
.bicycle__img .redSign:first-of-type {
  position: absolute;
  left: 18%;
  top: 68%;
}
@media (max-width: 320px) {
  .bicycle__img .redSign:first-of-type {
    left: 18%;
    top: 61%;
  }
}
.bicycle__img .redSign:nth-of-type(2) {
  position: absolute;
  left: 45%;
  top: 41%;
}
@media (max-width: 320px) {
  .bicycle__img .redSign:nth-of-type(2) {
    left: 45%;
    top: 36%;
  }
}
.bicycle__img .redSign:nth-of-type(3) {
  position: absolute;
  left: 56%;
  top: 36%;
}
@media (max-width: 320px) {
  .bicycle__img .redSign:nth-of-type(3) {
    left: 63%;
    top: 22%;
  }
}
.bicycle__img .redSign:nth-of-type(4) {
  position: absolute;
  left: 48%;
  top: 56%;
}
@media (max-width: 320px) {
  .bicycle__img .redSign:nth-of-type(4) {
    left: 48%;
    top: 52%;
  }
}
.bicycle__img .redSign:nth-of-type(5) {
  position: absolute;
  left: 66%;
  top: 5%;
}
@media (max-width: 320px) {
  .bicycle__img .redSign:nth-of-type(5) {
    left: 68%;
    top: 0;
  }
}
.bicycle__img .redSign:last-of-type {
  position: absolute;
  left: 87%;
  top: 53%;
}
@media (max-width: 1280px) {
  .bicycle__img .redSign:last-of-type {
    left: 93%;
  }
}
@media (max-width: 320px) {
  .bicycle__img .redSign:last-of-type {
    left: 93%;
    top: 53%;
  }
}
.bicycle__brands {
  display: flex;
  justify-content: center;
  column-gap: 33px;
  margin-bottom: 33px;
}
@media (max-width: 1280px) {
  .bicycle__brands {
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px) {
  .bicycle__brands {
    margin-bottom: 22px;
  }
}
@media (max-width: 768px) {
  .bicycle__brands {
    margin: 0 auto 20px;
    max-width: 564px;
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  .bicycle__brands {
    max-width: 428px;
  }
}
@media (max-width: 320px) {
  .bicycle__brands {
    padding: 0 15px;
    margin-bottom: 15px;
  }
}
.bicycle__brands__left img {
  display: block;
  max-width: 260px;
  width: 100%;
}
.bicycle__brands__right img {
  display: block;
  max-width: 360px;
  width: 100%;
}

/*# sourceMappingURL=bicycle.module.css.map */
